.menu__item {
    position: relative;
    list-style-type: none;
    line-height: 50px;
    padding: 0px;
}

.menu__item:hover {
    position: relative;
    background-color: white;
    border-radius: 18px;
}