.menu__link {
    color: #0aff53 !important;
    margin-right: 1.25rem !important;
    text-decoration: none !important;
}

.menu__link.ativo {
    color: #0aff53 !important;
    font-weight: bolder !important;
}

.menu__link:hover {
    font-weight: bold !important;
}