.home {
    background-color: rgba(0, 0, 0, 0.514);
    background-image: url("/assets/img/joel-filipe-VuwAfoHpxgs-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-position: center;
    color: white;
    width: 100%;
    height: 100vh;
}

h1:after{
    animation: cursor 0.4s infinite;
}

  /* The typewriter cursor effect */
@keyframes cursor {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}