.home__titulo {
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}