.me {
    background-color: #0000008c;
    background-image: url(/assets/img/danilo-alvesd-dNJMidYNe78-unsplash.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-position-x: -30em;
    background-position-y: center;
    background-size: 140%;
    height: 100vh;
}

