.foto1 {
    position: absolute;
    width: 555px;
    height: 454px;
    left: 1197px;
    top: 1000px;
    border-radius: 20px;
    border: 3px solid #000000;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.7));
}

.foto2 {
    position: absolute;
    width: 244px;
    height: 258px;
    left: 1201px;
    top: 1500px;
    border-radius: 20px;
    border: 3px solid #000000;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.7));
}

.foto3 {
    position: absolute;
    width: 244px;
    height: 258px;
    left: 1500px;
    top: 1500px;
    border-radius: 20px;
    border: 3px solid #000000;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.7));
}