.paragrafo {
    display: inline-block;
    width: 70vh;
    height: 50vh;
    left: 200px;
    font-family: 'Wire One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #ffffff;
    margin-left: 21vh;
    margin-top: 8vh;
}