.subtitulo {
    /* ME */
    position: relative;
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    font-size: 300px;
    line-height: 360px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(228, 96, 96, 0.84);
    margin-left: 220px;
}

.subtitulo:active {
    text-decoration: none;
}
