.subtitulo {
    /* ME */
    position: relative;
    font-family: 'Poiret One', cursive; 
    font-style: normal;
    font-weight: 40vh;
    font-size: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 21vh;
    color: rgba(255, 255, 255, 0.849);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    filter: drop-shadow(30px 15px 6px rgba(0, 0, 0, 0.7));
}